<a href="https://colab.research.google.com/github/tanvidukare/python/blob/pythonexcercises/pythonexcercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Tanvi Dukare
Roll no.: 172
Batch: A4

1.Write a program in python to display factorial number

In [ ]:
num = int(input("Enter a number: "))
factorial = 1
if num < 0:
   print(" Factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 11
The factorial of 11 is 39916800

2.write a program in python to reverse a word

In [ ]:
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: Tanvi
ivnaT

3.Write a Python program to reverse a number

In [ ]:
num = int(input("number to reverse:"))
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

number to reverse:1234
Reversed Number: 4321

4.Write a program to print n natural number in descending order using a while loop.

In [ ]:
number = int(input("Please Enter any Number: "))
i = number

print("List of Natural Numbers from {0} to 1 in Decending Order : ".format(number))

while ( i >= 1):
    print (i, end = '  ')
    i = i - 1

Please Enter any Number: 10
List of Natural Numbers from 10 to 1 in Decending Order :
10  9  8  7  6  5  4  3  2  1

5.Write a program to display the first 7 multiples of 7.

In [ ]:
number = int(7)

print("The multiples are: ")
for i in range(1,8):
    print(number*i, end =" ")

The multiples are:
7 14 21 28 35 42 49

6.Write a program that appends the square of each number to a new list.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7]
squared_list = [number**2 for number in my_list]

print(squared_list)

[1, 4, 9, 16, 25, 36, 49]

7.WAP to separate positive and negative number from a list.

In [ ]:
NumList = []
Positive = []
Negative = []

Number = int(input("Please enter the Total Number of List Elements : "))
for i in range(1, Number + 1):
    value = int(input("Please enter the Value of %d Element : " %i))
    NumList.append(value)

for j in range(Number):
    if(NumList[j] >= 0):
        Positive.append(NumList[j])
    else:
        Negative.append(NumList[j])

print("Element in Positive List is : ", Positive)
print("Element in Negative List is : ", Negative)

Please enter the Total Number of List Elements : 6
Please enter the Value of 1 Element : -5
Please enter the Value of 2 Element : -3
Please enter the Value of 3 Element : 6
Please enter the Value of 4 Element : 8
Please enter the Value of 5 Element : 0
Please enter the Value of 6 Element : -9
Element in Positive List is :  [6, 8, 0]
Element in Negative List is :  [-5, -3, -9]

8.Write a program that appends the type of elements from a list.

In [ ]:
my_list = [9, 5, 7]
new_element = 3
my_list = my_list + [new_element]
print(my_list)

[9, 5, 7, 3]

9.Write a program to filter even and odd number from a list.

In [ ]:
nums = [43, 20, 53, 12, 53, 5, 3, 2]

even = []
odd = []

for i in nums:
    if(i % 2 == 0):
        even.append(i)
    else:
        odd.append(i)

print("Even List: ",even)
print("Odd List: ",odd)

Even List:  [20, 12, 2]
Odd List:  [43, 53, 53, 5, 3]

10.Write a program to fetch only even values from a dictionary

In [ ]:
def test(dictt):
    result = {key: [idx for idx in val if not idx % 2]
          for key, val in dictt.items()}
    return result

students = {'V' : [1, 4, 6, 10], 'VI' : [1, 4, 12], 'VII' : [1, 3, 8]}
print("\nOriginal Dictionary:")
print(students)
print("Filter even numbers from said dictionary values:")
print(test(students))

Original Dictionary:
{'V': [1, 4, 6, 10], 'VI': [1, 4, 12], 'VII': [1, 3, 8]}
Filter even numbers from said dictionary values:
{'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}